{% extends "_base.html" %}
{% block content %}
<div class="login">
	<br>
	<br>
	<br>
	<h1>Welcome to FlaskTaskr.</h1>
	<h3>Please sign in to access your task list:</h3>

	<form class="form-signin" role="form" method="post" action="/">
		{{form.csrf_token}}
		<p>
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					{{ form.name(placeholder=error, class_="check" )}}
				{% endfor %}
			{% else%}
				{{ form.name(placeholder="name")}}
			{% endif %}
		</p>

		<p>
			{% if form.password.errors %}
				{% for error in form.password.errors %}
					{{ form.password(placeholder=error, class_="check" )}}
				{% endfor %}
			{% else%}
				{{ form.password(placeholder="password" )}}
			{% endif %}
		</p>

		<button class="btn btn-sm btn-success" type="submit" style="font-size: 1em; 
		width: 360px; border: 4px solid black;">
			Sign in
		</button>
	<br>
	<br>
	<p><em>Need an account?</em><a href="/register"> Signup!</a></p>

	</form>
</div>
{% endblock %}